<a routerLink="product/detail/1">
    <div class="card">
        <div class="card-header">
            <img src="https://rukminim2.flixcart.com/image/832/832/jzog9e80/rakhi-set/m/z/e/rak73480-sukkhi-original-imafjndgmxzttyjf.jpeg?q=70"
                alt="" class="img-fluid">
        </div>
        <div class="card-body">
            <div class="title">{{ 'Sukkhi Elegant Kundan Rakhi, Chawal Roli Pack, Greeting.' | productName }}</div>
            <div class="description"><small>1 Rakhi, Greeting Card, Roli, Chawal</small></div>
            <div class="rating mt-1"><span class="badge badge-success"> 4.5 &#9733;</span></div>
            <div class="rating mt-1"><strong>$ 12.0</strong></div>
        </div>
    </div>
</a>