<app-header/>
<app-banner></app-banner>
<div class="container p-3">
    <div class="row mt-4 py-2">
        <div class="col-md-6">
            <h3>Deals of the day</h3>
        </div>
        <div class="col-md-6 text-end">
            <p>Show all deals</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" *ngFor="let offerDesc of lstOfferDesc">
                <app-offer-desc-card [imagePath]="offerDesc.imagePath" [description]="offerDesc.description" [offer]="offerDesc.offer"></app-offer-desc-card>
        </div>
    </div>
    <div class="row my-4 py-2">
        <div class="col-md-6">
            <h3>Shop our top picks for you</h3>
            <small>Curated collections hand-picked by Ecom editors</small>
        </div>
    </div>
    <div class="row gap-5">
        <div class="col-md-2" *ngFor="let categoryCard of lstCategoryCard">
                <app-category-card [imagePath]="categoryCard.imagePath" [description]="categoryCard.description"></app-category-card>
        </div>
    </div>
</div>
<app-footer/>