<app-header></app-header>
<app-banner></app-banner>
<div class="container p-3">
    <div class="row mt-4 py-2">
        <div class="col-md-6">
            <h3>Deals of the day</h3>
        </div>
        <div class="col-md-6 text-end">
            <p>Show all deals</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" *ngFor="let offerDesc of lstOfferDesc">
                <app-offer-desc-card [imagePath]="offerDesc.imagePath" [description]="offerDesc.description" [offer]="offerDesc.offer"></app-offer-desc-card>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-12">
                <div class="card">
                        <div class="card-body p-0">
                                <div class="outer-grid">
                                        <div class="grid-col-1">
                                                <div class="inner-grid">
                                                        <div class="grid-row-1-col-1 px-5 d-flex  align-items-center">
                                                                <div>
                                                                        <small class="mb-5">Editors' Picks</small>
                                                                         <h4 class="mt-2">Everyday inspiration</h4>
                                                                         <button class="btn btn-outline-dark my-2">See more Editors' Picks</button>
                                                                </div>
                                                        </div>
                                                        <div class="grid-row-1-col-2 p-4">
                                                                <div class="row">
                                                                        <div class="col-6">
                                                                                <div class="card main-card">
                                                                                        <div class="card-body p-0 ratio ratio-1x1">
                                                                                                <img src="https://i.etsystatic.com/18899984/r/il/9339f4/3073266925/il_794xN.3073266925_m4yi.jpg" alt="" class="img-fluid">    
                                                                                        </div>
                                                                                        <div class="abs-card-items">
                                                                                                <div class="card-heart"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                                                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                                                                      </svg></div>
                                                                                                <div class="card-price"><p class="mb-0">$45</p></div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                                <div class="card main-card">
                                                                                        <div class="card-body p-0 ratio ratio-1x1">
                                                                                                <img src="https://i.etsystatic.com/18899984/r/il/9339f4/3073266925/il_794xN.3073266925_m4yi.jpg" alt="" class="img-fluid">    
                                                                                        </div>
                                                                                        <div class="abs-card-items">
                                                                                                <div class="card-heart"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                                                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                                                                      </svg></div>
                                                                                                <div class="card-price"><p class="mb-0">$45</p></div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        
                                                                </div>
                                                        </div>
                                                        <div class="grid-row-2-col-1 p-4">
                                                                <div class="row">
                                                                        <div class="col-3">
                                                                                <div class="card main-card">
                                                                                        <div class="card-body p-0 ratio ratio-1x1">
                                                                                                <img src="https://i.etsystatic.com/18899984/r/il/9339f4/3073266925/il_794xN.3073266925_m4yi.jpg" alt="" class="img-fluid">    
                                                                                        </div>
                                                                                        <div class="abs-card-items">
                                                                                                <div class="card-heart"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                                                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                                                                      </svg></div>
                                                                                                <div class="card-price"><p class="mb-0">$45</p></div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-3">
                                                                                <div class="card main-card">
                                                                                        <div class="card-body p-0 ratio ratio-1x1">
                                                                                                <img src="https://i.etsystatic.com/18899984/r/il/9339f4/3073266925/il_794xN.3073266925_m4yi.jpg" alt="" class="img-fluid">    
                                                                                        </div>
                                                                                        <div class="abs-card-items">
                                                                                                <div class="card-heart"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                                                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                                                                      </svg></div>
                                                                                                <div class="card-price"><p class="mb-0">$45</p></div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-3">
                                                                                <div class="card main-card">
                                                                                        <div class="card-body p-0 ratio ratio-1x1">
                                                                                                <img src="https://i.etsystatic.com/18899984/r/il/9339f4/3073266925/il_794xN.3073266925_m4yi.jpg" alt="" class="img-fluid">    
                                                                                        </div>
                                                                                        <div class="abs-card-items">
                                                                                                <div class="card-heart"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                                                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                                                                      </svg></div>
                                                                                                <div class="card-price"><p class="mb-0">$45</p></div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-3">
                                                                                <div class="card main-card">
                                                                                        <div class="card-body p-0 ratio ratio-1x1">
                                                                                                <img src="https://i.etsystatic.com/18899984/r/il/9339f4/3073266925/il_794xN.3073266925_m4yi.jpg" alt="" class="img-fluid">    
                                                                                        </div>
                                                                                        <div class="abs-card-items">
                                                                                                <div class="card-heart"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                                                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                                                                      </svg></div>
                                                                                                <div class="card-price"><p class="mb-0">$45</p></div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                       
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="grid-col-2">
                                                <img src="https://i.etsystatic.com/18899984/r/il/9339f4/3073266925/il_794xN.3073266925_m4yi.jpg" alt="" class="img-fluid h-100">
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
    </div>
    <div class="row my-4 py-2">
        <div class="col-md-6">
            <h3>Shop our top picks for you</h3>
            <small>Curated collections hand-picked by Ecom editors</small>
        </div>
    </div>
    <div class="row gap-5">
        <div class="col-md-2" *ngFor="let categoryCard of lstCategoryCard">
                <app-category-card [imagePath]="categoryCard.imagePath" [description]="categoryCard.description"></app-category-card>
        </div>
    </div>
</div>
<app-footer/>