<app-header/>
<app-banner></app-banner>
<div class="container p-3">
    <div class="row mt-4 py-2">
        <div class="col-md-6">
            <h3>Deals of the day</h3>
        </div>
        <div class="col-md-6 text-end">
            <p>Show all deals</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
                <app-offer-desc-card [imagePath]="'https://i.etsystatic.com/22368382/r/il/006d21/4245808662/il_1588xN.4245808662_a3x4.jpg'" [description]="'Womens Ethnic Clothing'" [offer]="'Up to 40% off on'"></app-offer-desc-card>
        </div>
        <div class="col-md-2">
                <app-offer-desc-card [imagePath]="'https://i.etsystatic.com/22368382/r/il/006d21/4245808662/il_1588xN.4245808662_a3x4.jpg'" [description]="'Womens Ethnic Clothing'" [offer]="'Up to 40% off on'"></app-offer-desc-card>
        </div>
        <div class="col-md-2">
                <app-offer-desc-card [imagePath]="'https://i.etsystatic.com/22368382/r/il/006d21/4245808662/il_1588xN.4245808662_a3x4.jpg'" [description]="'Womens Ethnic Clothing'" [offer]="'Up to 40% off on'"></app-offer-desc-card>
        </div>
        <div class="col-md-2">
                <app-offer-desc-card [imagePath]="'https://i.etsystatic.com/22368382/r/il/006d21/4245808662/il_1588xN.4245808662_a3x4.jpg'" [description]="'Womens Ethnic Clothing'" [offer]="'Up to 40% off on'"></app-offer-desc-card>
        </div>
        <div class="col-md-2">
                <app-offer-desc-card [imagePath]="'https://i.etsystatic.com/22368382/r/il/006d21/4245808662/il_1588xN.4245808662_a3x4.jpg'" [description]="'Womens Ethnic Clothing'" [offer]="'Up to 40% off on'"></app-offer-desc-card>
        </div>
        <div class="col-md-2">
                <app-offer-desc-card [imagePath]="'https://i.etsystatic.com/22368382/r/il/006d21/4245808662/il_1588xN.4245808662_a3x4.jpg'" [description]="'Womens Ethnic Clothing'" [offer]="'Up to 40% off on'"></app-offer-desc-card>
        </div>
    </div>
</div>
<app-footer/>