.outer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.inner-grid{
    display: grid;
    /* background-color: bisque; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card{overflow: hidden;}
.card-body img{object-fit: cover;}

.grid-row-2-col-1{
    grid-column:  1 / span 2;
    grid-row: 2;
}
