.outer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.inner-grid{
    display: grid;
    /* background-color: bisque; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card{overflow: hidden;}
.card-body img{object-fit: cover;}

.grid-row-2-col-1{
    grid-column:  1 / span 2;
    grid-row: 2;
}

.main-card{
    position: relative;
    border: none;
    box-shadow: 1px 1px 10px #d2d2d2;
}

.main-card:hover{
transform: scale(1.01);
transition: all .3s ease-in;
}


.abs-card-items{
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
/* background-color: aquamarine; */
animation: fade-down .3s ease-in;
transition: .1s all ease-in-out;
}
.card-heart{
    position: absolute;
    right: .5rem;
    top: .5rem;
    border-radius: 50%;
    padding: .5rem .65rem;
    background-color: white;
    border: 1px solid #e2e2e2;
    box-shadow: 1px 1px 10px #e0e0e0;
    
}

.card-price{
    position: absolute;
    left: .5rem;
    bottom: .5rem;
    padding: .1rem .7rem;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #e2e2e2;
    box-shadow: 1px 1px 10px #e0e0e0;

}

.card:hover > .abs-card-items{
    transition: .3s all ease-in-out;
    z-index: 2;
    animation: fade-up .2s ease-in;
    cursor: pointer;
}

@keyframes fade-up {
    from {top: 1rem;}
    to {top: 0;}
  }
@keyframes fade-down {
    from {top: 0rem;}
    to {top: 1rem;}
  }